<div class="title">
    <h2>Listagem de filmes</h2>
    <hr>
</div>
<div class="container">
    <a [routerLink]="['/filmes/cadastrar']" class='btn-cadastrar'><i class="fas fa-plus-circle"></i> Novo Filme</a>
    <div class="form-container">
        <select (change)="setPerPage($event.target.value)" class="selecionarQtd">
            <option value="5">5</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filme</th>
                <th>Lançamento</th>
                <th class="col-acoes">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let filme of filmes.data">
                <td>{{filme.id}}</td>
                <td>{{filme.name}}</td>
                <td>{{filme.ano_lancamento}}</td>
                <td>
                    <a [routerLink]="['/filmes/visualizar/:id', filme.id]" class="btn btn-editar ">
                        <i class="fas fa-pencil "></i>
                    </a>
                    <a [routerLink]="['/filmes/visualizar/', filme.id]" class="btn btn-visualizar ">
                        <i class="fas fa-eye "></i>
                    </a>
                    <a routerLink="/filmes/delete/{{filme.id}}" class="btn btn-excluir ">
                        <i class="fas fa-trash "></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="float: left;margin-top: 20px; color:black">
        Mostrando <strong>{{ filmes.per_page }}</strong> registros de <strong>{{ filmes.from }}</strong> até
        <strong>{{ filmes.to }}</strong> na página
        <strong>{{ filmes.current_page }}</strong>. Total de <strong>{{ filmes.total }}</strong> registros.
    </p>

    <a href="javascript:void(0);" *ngIf="filmes.current_page < filmes.last_page" class="btn-paginacao" (click)="paginate(filmes.next_page)">Próximo <i class="fas fa-arrow-right"></i></a>

    <a href="javascript:void(0);" *ngIf="filmes.current_page > 1" class="btn-paginacao" (click)="paginate(filmes.prev_page)"><i class="fas fa-arrow-left"></i>Anterior </a>
</div>