<!-- <div class="title">
    <h2>Visualizar Filmes</h2>
    <hr>
</div>
<div class="container">

    <div class="form-container">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" placeholder="nome do filme aqui" readonly>
    </div>

    <div class="form-container">
        <label for="sinopse">Sinopse</label>
        <textarea id="sinopse" name="sinopse"></textarea>
    </div>


    <div class="form-container">
        <label for="faturamento">Faturamento</label>
        <input type="number" id="faturamento" readonly name="faturamento" placeholder="EX: 10000.00">
    </div>

    <div class="form-container">
        <label for="ano_lancamento">Lancamento</label>
        <input type="number" maxlength="4" id="ano_lancamento" readonly name="ano_lancamento">
    </div>
    <div class="form-container">
        <label for="poster">POSTER</label>
        <img class="d-block w-100" src="http://localhost:4001/static/filmes1637988084127-assinatura-perseu.JPG" alt="First slide">
    </div>
</div> -->
{{ filmes | json}}