.title
    text-align: center
.container
    margin-top: 30px
    margin-left: 10vw
    margin-right: 10vw
    display: flex
    flex-direction: row
    justify-content: center
    

    .imagem
        margin-right: 5vh    
    .conteudo        
        text-align:center
        font-size:1.5em

      
    .btn-editar
        background: #2ba554

    .btn-excluir
        background-color: #bd0f0f 

    .btn-visualizar
        background-color: #f8ba46 
    
    .btn
        padding: 5px 10px
        border-radius: 2px
        margin: 2px 5px
        color: #fff

    .col-acoes
        width: 12%

    .btn-cadastrar, .btn-paginacao
        padding: 10px 30px
        background-color: #4180bb
        color: #fff
        font-weight: bold
        border-radius: 2px
        float: right

    .btn-paginacao
        margin-left: 15px
        margin-top: 20px
        float: right
    .centralizado
        text-align: center
        align-items: center