<div class="title">
    <h2>Visualizar Filmes</h2>
    <hr>
</div>
<div class="container">
    <div class="imagem ">
        <div class='form-container centralizado'>
            <img id='poster' src="{{filmes.data.full_path}} " alt="{{ filmes.data.poster }} ">
        </div>
    </div>
    <div class="conteudo ">
        <div class='form-container centralizado' style="align-items: center;text-align: center; ">
            Titulo do Filme: {{ filmes.data.name }}

        </div>
        <div class='form-container centralizado'>
            Sinopse: {{ filmes.data.sinopse }}
        </div>
        <div class='form-container centralizado'>
            Ano de Lançaento: {{ filmes.data.ano_lancamento }}
        </div>
        <div class='form-container centralizado'>
            Faturamento: R${{ filmes.data.faturamento }}
        </div>


    </div>



</div>
<div class="bnt">
    <button>teste</button>
</div>


<!-- 
<div class="form-container ">
    <label for="name ">Nome</label>
    <input type="text " id="name " name="name " placeholder="nome do filme aqui " readonly>
</div>

<div class="form-container ">
    <label for="sinopse ">Sinopse</label>
    <textarea id="sinopse " name="sinopse "></textarea>
</div>


<div class="form-container ">
    <label for="faturamento ">Faturamento</label>
    <input type="number " id="faturamento " readonly name="faturamento " placeholder="EX: 10000.00 ">
</div>

<div class="form-container ">
    <label for="ano_lancamento ">Lancamento</label>
    <input type="number " maxlength="4 " id="ano_lancamento " readonly name="ano_lancamento ">
</div>
<div class="form-container ">
    <label for="poster ">POSTER</label>
    <img class="d-block w-100 " src="http://localhost:4001/static/filmes1637988084127-assinatura-perseu.JPG " alt="First slide ">
</div> -->