<div class="container">
    <form action="">
        <div class="form-container">
            <label for="email">E-Mail</label>
            <input type="text" name="email" id="email" class="email">
        </div>
        <div class="form-container">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-container">
            <button type='button' (click)=logar()>Logar</button>
        </div>
    </form>
</div>